
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using HProject.Models
@model ITArticleViewModel


<style>
    .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar {
        display: inline-block;
        height: 220px;
        width: 210px;
    }

        .kv-avatar .file-input {
            display: table-cell;
            width: 210px;
            height: 220px;
        }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }

    .row {
        margin-top: 25px;
    }
</style>


<div>

    <div class="page-header">
        <h2>新建IT领用物品</h2>
    </div>

    @using (Html.BeginForm("Create", "ManageITArticle", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "CreateForm" }))
    {


        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="ITArticlePicture" name="ITArticlePicture" data-min-file-count="0" type="file">
                    </div>
                </div>
                <div class="kv-avatar-hint" style="margin-top:100px"><span>图片</span></div>
            </div>
            <div class="col-sm-8">
                <div class="text-danger">
                    @Html.ValidationSummary(true)
                </div>
                <div class="form-group row">

                    @Html.LabelFor(m => m.Name, new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group row">

                    @Html.LabelFor(m => m.Description, new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-6">

                        @Html.TextAreaFor(m=>m.Description, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

  

                <div class="form-group row">
                    @Html.LabelFor(m => m.Stock, new { @class = "col-sm-1 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", id = "UserEmail" })
                        @Html.ValidationMessageFor(m => m.Stock, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group">
                    <hr>

                    <div class="text-left col-sm-offset-1">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-left:20px">保存</button>
                    </div>
                </div>
            </div>
        </div>
    }


    <!-- the fileinput plugin initialization -->
    <script>

        $("#ITArticlePicture").fileinput({


            required: false,
            validateInitialCount: false,
            overwriteInitial: true,


            maxFileSize: 11500,
            maxFileCount: 1,
            minFileCount: 0,
            showClose: false,
            showCaption: false,
            browseLabel: '',
            removeLabel: '',
            browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
            removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
            removeTitle: 'Cancel or reset changes',
            elErrorContainer: '#kv-avatar-hint',
            msgErrorClass: 'alert alert-block alert-danger',
            defaultPreviewContent: '<img style="width:210px;height:220px" src="/image/ITArticle/blank.jpg" alt="Your Avatar">',
            layoutTemplates: { main2: '{preview} ' + ' {remove} {browse}' },
            allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
            previewSettings: { image: { width: "210px", height: "220px", 'max-width': "210px", 'max-height': "220px" } },

        });
    </script>




</div>

